body{
    color: #EFEFEF;
}

#title{
    font-size:5em;
    font-weight: bolder;
    color: #A9A9A9;
    text-align: center;
    width:100%;
    font-family: 'Open Sans', sans-serif;
}

.titlehead{
    font-size:3em;
    font-weight: bold;
    font-style: italic;
    color: #ff3b3f;
    text-align: center;
    width:100%;
    font-family: 'Open Sans', sans-serif;

}

.bodyhead{
    font-size:1em;
    color: #ff3b3f;
    text-align: center;
    width:100%;
    font-family: 'Open Sans', sans-serif;

}

.content{
    font-size:1em;
    background-color: rgba(202,235,242, 0.7);
    width:60%;
    font-family: 'Open Sans', sans-serif;
    color: #A9A9A9;
    margin: auto;
    padding: 10px;
}

content img {
    border: none;
    display: block;
    margin: auto;
}

.nav ul {
    list-style: none;
}

.food .fooditem {
    max-width: 1200px;
    margin: 0 auto;
}

.food ul {
    margin: 0;
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}

.food ul li {
    width: 400px;
    height: 400px;
    margin: .4rem;
}

@media only screen and (min-device-width: 20em) and (max-device-width: 30em) {
    .food ul li {
        margin: .4rem;
    }
}

@media only screen and (min-width: 30.1em) {
    .food ul li {
        margin: .4rem;
    }
}

@media only screen and (min-width: 48em) {
    .food ul li {
        margin: .44444444rem;
    }
}

@media only screen and (min-width: 62.5em) {
    .food ul li {
        margin: .44444444rem;
    }
}

@media only screen and (min-width: 81.25em) {
    .food ul li {
        margin: .44444444rem;
    }
}

.food ul li a {
    cursor: pointer;
}

.food ul li a .img {
    position: relative;
    text-align: center;
}

.food ul li a .img img {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.food ul li a .img p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(202,235,242, 0.7);
    color: #ff3b3f;
    opacity: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    height: 400px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.food ul li a:hover .img img {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.food ul li a:hover .img p {
    opacity: 1;
}
